html {
    background: #090979;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window {
    position: relative;
    width: 500px;
    overflow: hidden;
    margin: 10px;
    background: white;
    border-radius: 25px;
}

.bubble {
    position: absolute;
    z-index: 2;
    border-radius: 100%;
    background-color: rgb(35, 221, 144);
    opacity: 0.5;
}

#signature {
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a, a:visited {
    color: white;
}