html {
    background: rgb(172, 172, 172);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window {
    position: relative;
    width: 500px;
    overflow: hidden;
    margin: 10px;
    background: blue;
}

.bubble {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: aqua;
    z-index: 2;
    border-style: solid;
    box-sizing: border-box;
}